[core]
    autocrlf = false
    editor = nano
    ignorecase = false
[user]
    name = hyrorre
    email = hiromu.yamashita@hotmail.com
	signingkey = ~/.ssh/id_ed25519.pub
[merge]
    ff = false
[pull]
    ff = only
[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig_work
[includeIf "gitdir:~/private/"]
    path = ~/.gitconfig_private
[gpg]
	format = ssh
[commit]
	gpgsign = true
